# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environment
venv/
.env
.venv/

# notebooks
.ipynb_checkpoints

# mac
.DS_Store

# logs
*.log

# models
*.pth
*.pt
checkpoints/

# results
results/*

# processed data
data/processed/*
data/dataset/*

# raw AFM data
data/raw_afm/*
!data/raw_afm/.gitkeep

# large scientific files
*.h5
*.hdf5